<!DOCTYPE html>
<html lang="en">  
  <head>
    <title>Sun Solutions</title>
    <style>
      #banner{
        width: 100%;
        height: 170px;
        object-fit: cover;
      }
    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  
  </head>
  <body>
  <div class="container">
    <h1 class="text-center">Sun Solutions</h1>
    <img id="banner" class="img-fluid" src="static/ss_hdr.jpg">
    <h2>About us</h2>
    <p>
      Sun Solutions bridges gaps between business and end users. Specialized in providing solutions for all your data needs and building application blocks for the continuity of the business. Well versed in micro projects that require full attention from end to end.
    </p>
  </div>
  </body>
</html>